
/* spot images container ------ */

#spotImages-container {
    display: flex;
    /* border: 3px solid black; */
    column-gap: 5px;
    /* height: 600px; */
}

.main-img {
    /* background-color: green; */
    /* border: 2px solid purple; */
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: 2px solid black;
}

#normal-spotImgs-container {
    flex-basis: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    overflow: hidden;
    align-items: stretch;
}

.normal-spotImgs {
    margin: 0;
    padding: 0;
    border: 2px solid black;
}

.normal-spotImgs img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* spot images container ------ */
